*~
*.swp
Manifest.toml
.ipynb_checkpoints
*.mat
*.tif
*.vscode
*.jld2
*.nc
#*.md
*.bin
#*.png
*.DS_Store
/docs/build

#useful things to ignore when testing driver scripts
/drivers/
driver_updated.jl
*.box
*.data
**/Attribution_driver
/melt_rate_parametrizations/
example_drivers/Rosie_examples/relax_driver_10km.jl
example_drivers/Rosie_examples/save_surf_speeds.jl
example_drivers/Rosie_examples/PIG_idealised.jl
example_drivers/MISMIP/MISMIP_driver.jl
Project.toml
Project.toml
gendata.m
PIG_ideal_bed_plot.m
Project.toml
